/* .container {
    padding: 20,
    },
    .inputContainer {
    flexDirection: 'row',
    alignItems: 'center',
    marginBottom: 10,
    }
    .input {
    height: 40,
    borderColor: 'gray',
    borderWidth: 1,
    marginLeft: 10,
    paddingHorizontal: 5,
    width: 60,
    }, */